* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/pic4.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 40px;
}

.form-control {
    background: transparent;
    color: black;
    border-radius: 0px;
    border: 0px;
    font-size: 21px;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}
